

.box1 {
    padding: 20px;
    margin: 0 auto;
    background-color: red;
    border-style: solid;
    border-color: black;
    color: white;
    padding-bottom: 20px;
    max-width: fit-content;
}

.box1 > h1 {
    margin: 0;
}


.card1 > h1{
    margin:0;
    
}
.card1 {
    display:inline-block;
    background-color: green;
    border-style: solid;
    border-color: black;
    padding: 5px;
    min-width: 300px;
    
}

.inside1 {
    border-style: solid;
    border-color: black;
    min-height: 150px;
    padding-top: 20px;
    padding-left: 15px;

}



.card2 > h1{
    margin: 0;
}
.card2 {
    display:inline-block;
    background-color: green;
    border-style: solid;
    border-color: black;
    padding: 5px;
    min-width: 300px;
}

.inside2 {
    border-style: solid;
    border-color: black;
    min-height: 150px;
    padding-left: 50px;
}
.card3{
    display: inline-block;
    background-color: green;
    border-style: solid;
    border-color: black;
    width: 300px;
}