
*{
    box-sizing: border-box;
}

h2 {
    margin: 0px;
}
.box1{
    padding: 20px;
    margin: 0 auto;
    background-color: red;
    border-style: solid;
    border-color: black;
    color: white;
    padding-bottom: 20px;
    max-width: fit-content;
}

.cards {
    border: 3px solid black;
    display: block;
    min-width: fit-content;
    margin: 30px;
}

.card {
    display: inline-block;
    border: 3px solid black;
    vertical-align: top ;
    min-width: 300px;
    margin: 15px;
}

.insidecard {
    min-height: 300px;
}

.inside3 {
    border: 3px solid black;
    display: inline-block;
    width: 150px;


}