
*{
    box-sizing: border-box;
}

h2 {
}
.box1{
    padding: 20px;
    margin: 0 auto;
    background-color: red;
    border-style: solid;
    border-color: black;
    color: white;
    padding-bottom: 20px;
    max-width: fit-content;
    border: 2px solid black;
}

.cards {
    border: 3px solid black;
    display: block;
    margin: 30px;
    border: 3px solid black;
}

.card {
    border: 3px solid black;
    padding: 5px;
    display: inline-block;
    vertical-align: top ;
    min-width: 250px;
    margin: 15px;
    background-color: green;
}

.insidecard {
    padding: 8px;
    min-height: 300px;
    border: 3px solid black;
}

.inside3 {
    margin: 3px;
    border: 3px solid black;
    display: inline-block;
    width: 150px;


}

.list-two {
    min-height: 90px;
}

.list-three {
    min-height: fit-content;
}

.list-three > p{
    margin: 0px;
}

p{
    font-size: 20px;
}